@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body { /*tamanho e altura máxima*/
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
/*Tema dark*/
 @media (prefers-color-scheme: dark) { 
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} 

/*Tema dark*/
 body { 
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} 
/*Tema dark*/
 @layer utilities { 
  .text-balance {
    text-wrap: balance;
  }
} 